{% extends "layout.html" %}

    
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <div class="page-header">
        <h1>Market Data</h1>
    </div>

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Market Data</legend>
                
                <div class="form-group">
                    
                    {{ form.radio.label(class = "form-control-label") }}
                    {% for choice in form.radio %}
                        <tr>
                            <td>{{ choice }}</td>
                            <td>{{ choice.label }}</td>
                        </tr>
                    {% endfor%}
                </div>
                <table style="width: 100%">
                    <tr>
                        <th>BANK ID</th>
                        <th>BANK NAME</th>
                        <th>BRANCH ID</th>
                        <th>BRANCH NAME</th>
                        <th>CONTACT</th>
                        <th>CUSTOMERS</th>
                        <th>LOAN INTEREST</th>
                        <th>SAVINGS INTEREST</th>
                        <th>CURRENT INTEREST</th>
                        <th>MINIMUM ACCOUNT BALANCCE</th>
                    </tr> 
                    {% for record in data %}
                    <tr>
                        {% for val in record %}
                        <td>
                            {{ val }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                
                




            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>



        </form>
    </div>

    
{% endblock content %}