{% extends "layout.html" %}
{% block content %}

    <div class="page-header">
        <h1>Register as: </h1>
    </div>

  
        <div class="collapse navbar-collapse" id="navbarCollapse"></div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('reg_wsu') }}">Personal<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('reg_com') }}">MNC<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('reg_emp') }}">Employee<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('reg_sup') }}">Start Ups<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('reg_bank') }}">Banks<span class="sr-only"></span></a>
            </li>
          </ul>
        </div>


    
{% endblock content %}